<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../statics/css/main.css">
    <link rel="stylesheet" href="../statics/fonts/iconfont.css">
    <link rel="stylesheet" href="../statics/css/index.css">
</head>
<body>

<div class="container">
    <ul>
        <li><a id="link_home"><i class="iconfont icon-shouye"></i><span>首页</span></a></li>
        <li><a id="link_mydoc"><i class="iconfont icon-content"></i><span>我的文稿</span></a></li>
        <li><a id="link_my_shengao"><i class="iconfont icon-shengao"></i><span>我的审稿</span></a></li>
        <li><a id="link_upload"><i class="iconfont icon-upload"></i><span>上传文稿</span></a></li>
        <li><a id="link_qikan"><i class="iconfont icon-qikan"></i><span>所有期刊</span></a></li>

        <li><a id="link_tuichu"><i class="iconfont icon-tuichu"></i><span>退出登陆</span></a></li>
        <li><a id="link_yonghu"><i class="iconfont icon-yonghu"></i><span>用户中心</span></a></li>
    </ul>

    <div class="center-content">
        <!-- 右侧区域的内容 -->
        <div class="right-content">
            <h1>首页内容</h1>
            <p>欢迎使用在线投稿系统!</p>
        </div>
    </div>
</div>

</body>


<script>
    // 获取链接和右侧内容区域的引用
    const homeLink = document.getElementById("link_home");
    const myDocLink = document.getElementById("link_mydoc");
    const myShengaoLink = document.getElementById("link_my_shengao");
    const uploadLink = document.getElementById("link_upload");
    const qikanLink = document.getElementById("link_qikan");
    const tuichuLink = document.getElementById("link_tuichu");
    const yonghuLink = document.getElementById("link_yonghu");
    const rightContent = document.querySelector(".right-content");
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var userId = urlParams.get('user_id');

    // 监听链接点击事件，更新右侧内容
    homeLink.addEventListener("click", function () {
        window.location.href = '/main?user_id='+userId;
    });

    myDocLink.addEventListener("click", function () {
        window.location.href = '/mydoc?user_id='+userId;
    });

    myShengaoLink.addEventListener("click", function () {
        window.location.href = '/shengao?user_id='+userId;
    });

    uploadLink.addEventListener("click", function () {
        window.location.href = '/upload?user_id='+userId;
    });

    qikanLink.addEventListener("click", function () {
        window.location.href = '/qikan?user_id='+userId;
    });

    tuichuLink.addEventListener("click", function () {
        window.location.href = '/';
    });

    yonghuLink.addEventListener("click", function () {
        window.location.href = '/yonghu?user_id='+userId;
    });


</script>
</html>