<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
    <link rel="stylesheet" type="text/css" href="../statics/css/login.css">
</head>
<body>

<div class="box" style="height: 800px">
    <form>
        <h2>注册账号</h2>
        <div class="inputBox">
            <input type="text" required id="input_id">
            <span>用户名</span><i></i>
        </div>
        <div class="inputBox">
            <input type="text" required id="name">
            <span>姓名</span><i></i>
        </div>

        <div class="inputBox">
            <input type="text" required id="sex">
            <span> 性别</span><i></i>
        </div>
        <div class="inputBox">
            <input type="text" required id="background">
            <span> 教育背景</span><i></i>
        </div>
        <div class="inputBox">
            <input type="text" required id="degree">
            <span> 学位</span><i></i>
        </div>
        <div class="inputBox">
            <input type="password" required id="input_pw">
            <span>密码</span><i></i>
        </div>
        <div class="inputBox">
            <input type="password" required id="sure_pw">
            <span>确认密码</span><i></i>
        </div>
        <div class="links">
            <a href="/">返回登陆</a>
        </div>
        <input type="submit" value="注册" id="signup">
        <div class="passworderror" id="id_is_none">用户名不能为空</div>
        <div class="passworderror" id="pw_is_none">密码不能为空</div>
        <div class="passworderror" id="pw_again_is_none">确认密码不能为空</div>
        <div class="passworderror" id="password_error">该用户名已存在</div>
        <div class="passworderror" id="password_not_same">两次输入密码不相同</div>
        <div class="passworderror" id="name_is_none">姓名不能为空</div>
        <div class="passworderror" id="sex_is_none">性别不能为空</div>
        <div class="passworderror" id="background_is_none">教育背景不能为空</div>
        <div class="passworderror" id="degree_is_none">学位不能为空</div>
    </form>
</div>

</body>

<script>
    // 获取登录按钮并为其添加点击事件监听器
    document.getElementById('signup').addEventListener('click', function (e) {
        e.preventDefault();
        // 获取输入框中的用户ID和密码
        var input_id = document.getElementById('input_id').value;
        var input_password = document.getElementById('input_pw').value;
        var input_sure_pw = document.getElementById('sure_pw').value;
        var name = document.getElementById('name').value;
        var sex = document.getElementById('sex').value;
        var background = document.getElementById('background').value;
        var degree = document.getElementById('background').value;

        if(input_id == null){
            const id_is_none = document.getElementById('id_is_none');
            id_is_none.style.visibility = 'visible';
            return;
        }
        if(name == null){
            const name_is_none = document.getElementById('name_is_none');
            name_is_none.style.visibility = 'visible';
            return;
        }
        if(sex == null){
            const sex_is_none = document.getElementById('sex_is_none');
            sex_is_none.style.visibility = 'visible';
            return;
        }
        if(background == null){
            const background_is_none = document.getElementById('background_is_none');
            background_is_none.style.visibility = 'visible';
            return;
        }
        if(degree == null){
            const degree_is_none = document.getElementById('degree_is_none');
            degree_is_none.style.visibility = 'visible';
            return;
        }
        if(input_password == null){
            const pw_is_none = document.getElementById('pw_is_none');
            pw_is_none.style.visibility = 'visible';
            return;
        }
        if(input_sure_pw == null){
            const pw_again_is_none = document.getElementById('pw_again_is_none');
            pw_again_is_none.style.visibility = 'visible';
            return;
        }
        if(input_password !== input_sure_pw){
            const not_same = document.getElementById('password_not_same');
            not_same.style.visibility = 'visible';
            return;
        }


        // 创建一个新的XMLHttpRequest对象

        var xhr = new XMLHttpRequest();

        // 配置POST请求，将数据发送到'/check_id_pw'端点
        xhr.open('POST', '/sign_up');

        // 当请求完成时执行此函数
        xhr.onload = function () {
            // 检查响应的HTTP状态码是否为200（成功）
            if (xhr.status == 200) {
                // 解析JSON响应
                var response = JSON.parse(xhr.responseText);

                // 检查响应中的success属性
                if (response.success) {
                    // 如果成功，跳转到'/main'页面
                    window.location.href = '/';
                } else {
                    // 如果失败，显示密码错误消息（假设您有一个密码错误的元素，命名为passworderror）
                    var passwordError = document.getElementById('password_error');
                    passwordError.style.visibility = 'visible';
                }
            }
        };

        // 发送POST请求，并将用户ID和密码作为JSON数据发送
        xhr.setRequestHeader('Content-Type', 'application/json'); // 设置请求头
        xhr.send(JSON.stringify({user_id: input_id, password: input_password, sex: sex, background: background, degree:degree, name: name}));
    });
</script>
</html>